Python 3 POCL:
  script:
  - export PY_EXE=python3
  - export PYOPENCL_TEST=portable:pthread
  - export EXTRA_INSTALL="pyopencl mpi4py jax[cpu]"
  - curl -L -O https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
  - ". ./build-and-test-py-project.sh"
  tags:
  - python3
  - pocl
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Python 3 POCL Examples:
  script: |

    curl -L -O https://tiker.net/ci-support-v0
    . ci-support-v0
    build_py_project_in_conda_env
    pip install pytest  # for advection.py

    # ensure that running with optimization works
    python -O examples/demo.py

    run_examples --no-require-main

  tags:
  - python3
  - pocl
  - large-node
  except:
  - tags

Ruff:
  script: |
    pipx install ruff
    ruff check
  tags:
  - docker-runner
  except:
  - tags

BasedPyright:
  script: |
    curl -L -O https://tiker.net/ci-support-v0
    . ./ci-support-v0
    export EXTRA_INSTALL="git+https://github.com/inducer/arraycontext"
    build_py_project_in_venv
    python -m pip install basedpyright mpi4py pytest pyopencl jax pygments optype
    basedpyright
  tags:
  - python3
  except:
  - tags


Documentation:
  script: |
    EXTRA_INSTALL="pyopencl sphinx-autodoc-typehints"
    ./.ci-support/fix-code-for-docs.sh
    curl -L -O https://tiker.net/ci-support-v0
    . ./ci-support-v0
    build_py_project_in_venv
    build_docs
    maybe_upload_docs
  tags:
  - python3

Downstream:
  parallel:
    matrix:
    - DOWNSTREAM_PROJECT: [meshmode, mirgecom, arraycontext]
  tags:
  - large-node
  - "docker-runner"
  script: |
    curl -L -O https://tiker.net/ci-support-v0
    . ./ci-support-v0
    test_downstream "$DOWNSTREAM_PROJECT"
