git+https://github.com/inducer/pytools.git#egg=pytools >= 2024.1.14
git+https://github.com/inducer/pymbolic.git#egg=pymbolic
git+https://github.com/inducer/genpy.git#egg=genpy
git+https://github.com/inducer/loopy.git#egg=loopy

mako
