git+https://github.com/a-alveyblanc/pytools.git@tag-propagation#egg=pytools
git+https://github.com/inducer/pymbolic.git#egg=pymbolic
git+https://github.com/inducer/genpy.git#egg=genpy
git+https://github.com/inducer/loopy.git#egg=loopy

mako
